@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  min-height: 40px;
  height: 40px;
}

@layer components {
  .navlist {
    @apply hover:text-btnhoverP hover:bg-white  focus:bg-[#ffd3d3];
  }
  .btn-second {
    @apply text-primary bg-white shadow-none rounded hover:text-btnhoverP hover:bg-btnhoverBg border border-primary;
  }
  .btn-prime {
    @apply bg-primary  hover:bg-btnhoverP rounded text-white;
  }
  .btn-secondbtn {
    @apply text-primary bg-white shadow-none rounded hover:text-btnhoverP hover:bg-white border border-primary hover:border-btnhoverP;
  }
  .chip {
    @apply bg-[#D7F0FF] p-1 text-xs font-semibold rounded px-2 py-1;
  }
}
/* This will change background color based on system theme */
@media (prefers-color-scheme: dark) {
  body,
  .bg-base-100 {
    background-color: white !important; /* Dark mode background color */
    color: black !important;
  }

  input,
  select,
  textarea {
    background-color: white !important;
  }
}
