.background {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("/testimonalBg.png");
  background-size: cover; /* Cover entire container */
  background-position: center; /* Center the image */
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.7);
}
.slick-slide > div {
  text-align: center;
}
